<!DOCTYPE html>
<head>
    Remove page
    <style>
         button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        background: red;
        color:#fff;
        border: 0;
        outline: none;
        size: 18px;
        border-radius:4px ;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
    <h1>Warrning:You are deleting {{venue.venue_name}}</h1>
  
       <input type="button">
        <a method="POST",href="/remove/{{venue.venue_id}}">Delete</a>
    
</body>